<div class="row columns">
<%= simple_form_for([@campaign, task]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset class="fieldset">
      <legend>Site Registration</legend>
      <div class="row columns">
          <%= f.association :site_account, label_method: :nickname, value_method: :id %>        
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Shoe size &amp; style</legend>

      <div class="row">
        <div class="medium-6 columns">
              <%= f.input :shoe_size %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :style_no %>
        </div>
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend>Notification</legend>
      <%= f.input :notification_text_no %>
      <%= f.input :notification_email %>
    </fieldset>
  </div>
  <div class="row">
    <div class="medium-6 columns"></div>
    <div class="medium-6 columns">
      <div class="form-actions row">
        <div class="medium-6 columns">
          <%= f.button :submit, 'Cancel', :cancel=> campaign_tasks_url(params[:campaign_id]),  class: "button secondary"  %>
        </div>
        <div class="medium-6 columns">
          <%= f.button :submit, 'Save',  class: "button expanded"  %>          
        </div>
      </div>      
    </div>
    
  </div>
<% end %>
  
</div>
