<div class="row columns">
            <%= link_to "(+) Registered Site Account", new_merchant_site_site_account_path(@task.merchant_site), target: "_blank" %>
            &nbsp;&nbsp;
            <%= link_to "(+) Billing and Shipping Profile", new_billing_profile_path, target: "_blank" %>

<%= simple_form_for([@campaign, task]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset class="fieldset">
      <legend>Site Registration</legend>
      <div class="row columns">
          <%#= f.association :site_account %>        
          <%= f.association :site_account, as: :radio_buttons, label_method: :nickname, value_method: :id %>        
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <legend>Payment &amp; Shipping</legend>
      <div class="row columns">
          <%#= f.association :site_account %>        
          <%= f.association :billing_profile, as: :radio_buttons, label_method: :nickname, value_method: :id %>        
      </div>
    </fieldset>

  </div>
  <div class="row">
    <div class="medium-6 columns"></div>
    <div class="medium-6 columns">
      <div class="form-actions row">
        <div class="medium-6 columns">
          &nbsp;
        </div>
        <div class="medium-6 columns">
          <%= f.button :submit, 'Save',  class: "button expanded"  %>          
        </div>
      </div>      
    </div>
    
  </div>
<% end %>
  
</div>
