<p id="notice"><%= notice %></p>

<p>
  <strong>Site account:</strong>
  <%= @task.site_account %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Shoe size:</strong>
  <%= @task.shoe_size %>
</p>

<p>
  <strong>Billing profile:</strong>
  <%= @task.billing_profile %>
</p>

<p>
  <strong>Positive key word:</strong>
  <%= @task.positive_key_word %>
</p>

<p>
  <strong>Negative key word:</strong>
  <%= @task.negative_key_word %>
</p>

<p>
  <strong>Style no:</strong>
  <%= @task.style_no %>
</p>

<p>
  <strong>Early link:</strong>
  <%= @task.early_link %>
</p>

<p>
  <strong>Page monitor:</strong>
  <%= @task.page_monitor %>
</p>

<p>
  <strong>Notification text no:</strong>
  <%= @task.notification_text_no %>
</p>

<p>
  <strong>Notification email:</strong>
  <%= @task.notification_email %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
