<%= simple_form_for(@campaign) do |f| %>
  <%= f.error_notification %>
  <div class="row columns">
    <%= link_to 'Cancel', campaigns_path, class: "button secondary"  %>       <%= f.submit 'Save', class: "button" %>

  </div>
  <div class="row columns">
	   <div class="form-inputs">
	    <%= f.input :name %>
	    <%= f.input :order_quantity, label: "Number of Orders" %>
	    <fieldset class="fieldset">
  			<legend>Check these out</legend>
	    	<%= f.association :merchant_sites,   as: :check_boxes%>
	    </fieldset>
	    
  </div>

  </div>

<% end %>
