<p id="notice"><%= notice %></p>
<div class="row columns">
  <h3>Campaigns <%= link_to '(+)', new_campaign_path %></h3> 
</div>

<table>
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Sites</th>
      <th>Sizes</th>
      <th>Tasks</th>
      <th>To Cop</th>
      <th>Results</th>

      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign %></td>
        <td>
          <ul>
            <%campaign.merchant_sites.each do |site| %>
              <li>
                <%= site.name %>
                <%= render "campaign_task_button"%>
              </li>
            <% end %>
          </ul>
        </td>
        <td>
          <% campaign.tasks.each do |task| %>
            <%= task.shoe_size %><br />
          <% end -%>
        </td>
        <td>
          <%= campaign.order_quantity %>
        </td>
        <td>to cop goes here</td>
        <td>results</td>
        <td>
          <%= link_to campaigns_path do %>
            <strong><i class="large fa fa-book"></i>&nbsp;</strong>
          <% end %>
        </td>
        <td>
          <%= link_to edit_campaign_path(campaign) do %>
            <strong><i class="large fa fa-pencil"></i>&nbsp;</strong>
          <% end %>
        </td>
        <td>
          <%= link_to campaign, method: :delete, data: { confirm: 'Are you sure?' } do %> 
              <i class="fa fa-trash-o" aria-hidden="true"></i><span class="bold">&nbsp;</span> 
           <% end %>          
        </td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


