<p id="notice"><%= notice %></p>

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to "Campaigns", campaigns_path %></li>
    <li class="disabled">Create Campaign</li>
    <li>
      <span class="show-for-sr">Current: </span> Site Settings
    </li>
  </ul>
</nav>
<div class="row columns">
	<div class="medium-10 columns">
		<p>
		  <strong>Name:</strong>
		  <%= @campaign.name %>
		</p>
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <p>Click on the merchant site on the right to progress forward.</p>
      </div>

      <% @campaign.tasks.each do |task| %>
        <div class="tabs-panel" id='<%= "panel#{task.id}t" %>'>
          <p>Task merchant_site <%= "#{task.merchant_site.name}"%></p>
          <%= simple_form_for(task, url: task_path(task), html: { method: :put }) do |f| %>
      
          <div class="form-inputs">
            <%= f.input :style_no %>
            <%= f.input :shoe_size %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update task", class: "button expanded" %>
          </div>
        <% end %>
      </div>
      
    <% end %>

    </div>

	</div>
	<div class="medium-2 columns">
    <ul class="vertical tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Tab 1</a></li>
      <% @campaign.tasks.each do |task| %>
        <li class="tabs-title"><%= link_to "#{task.merchant_site.name}", "\#panel#{task.id}t" %></li>
    <% end %>

    </ul>
	</div>
</div>
<div class="row collapse">
  <div class="medium-9 columns">
  </div>
    <div class="medium-3 columns">
  </div>

</div>
