<p id="notice"><%= notice %></p>
<div class="row columns">
  <h3>Billings <%= link_to '(+)', new_billing_profile_path %></h3> 
</div>

<table>
  <thead>
    <tr>
      <th>Billing</th>
      <th>Billing Type</th>
      <th>Details</th>

      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @billing_profiles.each do |billing_profile| %>
      <tr>
        <td><%= link_to billing_profile.nickname, edit_billing_profile_path(billing_profile) %></td>
        <td>Billing Type go here</td>
        <td>Details</td>
        <td>
          <%= link_to billing_profiles_path do %>
            <strong><i class="large fa fa-book"></i>&nbsp;</strong>
          <% end %>
        </td>
        <td>
          <%= link_to edit_billing_profile_path(billing_profile) do %>
            <strong><i class="large fa fa-pencil"></i>&nbsp;</strong>
          <% end %>
        </td>
        <td>
          <%= link_to billing_profile, method: :delete, data: { confirm: 'Are you sure?' } do %> 
              <i class="fa fa-trash-o" aria-hidden="true"></i><span class="bold">&nbsp;</span> 
           <% end %>          
        </td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


